body {
    font-family: 'Josefin Sans', sans-serif;
    background: #f0ebf1;
    background-image: url("imagenes/fondo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    text-align: justify-all;
    color: black;

}
.btn{padding: 6px;border-radius: 10px;}

.btn:hover{
    font-weight: bold;
    color: #6060bd;
}

div.recuadro{
    border: 1px solid black;
    margin: 5px;
    padding: 5px 30px;

}

.moverflecha {
    margin-right:0px;

}

.barra {
    margin-right: 0px;
}

nav{
    border: 1px solid gray;
}

#cabecera{
    font-weight: bold;
}

/*#MyCanvas{
   border: 1px solid gray;
    background: #f0ebf1;
}*/



/* Style the tab */
.tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}
/* Change background color of buttons on hover */
.tab a:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.tab a.active {
    background-color: #ddd;
}

div.especial h2{
    font-family: 'Rubik', sans-serif;
    text-shadow: 10px 5px #999;
}
/* Explicación acerca del IMC */
article{
     column-count: 2;
     column-gap: 20px;
     margin: 50px 5px;
 }
/* Campos para calcular el IMC */
form{
    column-count: 3;
}

div.Figura{
    width: 30%;
}

div.Resultados{
    width: 70%;
}

footer{

}